* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --color-primary-red: hsl(0, 100%, 74%);
    --color-primary-green: hsl(154, 59%, 51%);
    --color-accent-blue: hsl(248, 32%, 49%);
    --color-neutral-dark-blue: hsl(249, 10%, 26%);
    --color-neutral-grayish-blue: hsl(246, 25%, 77%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    max-width: 1440px;
    min-height: 100vh;
    display: block;
    background-color: var(--color-primary-red);
    z-index: -1;
}

.conteudo {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fdfdfd;
}

h1 {
    font-size: 60px;
}

.descricao {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 2.5rem;
}

.container {
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.teste {
    font-size: 13px;
    font-weight: 600;
    color: var(--color-primary-green);
    margin-bottom: 20px;
    background-color: var(--color-accent-blue);
    border-radius: 8px;
    width: 300px;
}

label {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    font-size: 10px;
    margin-top: 10px;
}

.red-text {
    color: red;
}

.input {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 10px #0000001a;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button.loading {
    position: relative;
}

button.loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #fff;
    animation: spin 0.8s linear infinite;
}

button:hover {
    background-color: var(--color-primary-red);
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}